<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>

        <div class="divOne"></div>
    <form action="/signup" method="post" style="height: 350px;" >
        <h1>WEB ALAM</h1>
        <input type="text" name="name" placeholder="Name" required/>
        <input type="text" name="email" placeholder="E-mail" required/>
        <input type="password" name="password" placeholder="Password" required/>
        <input type="submit" value="SignUp" class="loginbutton" required/>
        <a href="/" class="linkSign">Existing Account</a>
    </form>
</body>
</html>